.col {
    float: left;
    width: 50%;
    padding: 10px;
}

.view-requests-list .views-view-grid--horizontal {
    max-width: 70%;
    margin-left: 15%;
}

.request-view .view-display-id-block_2 .views-row {
    float: left;
    width: 23%;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 20px;
    margin-right: 1%;
    margin-left: 1%;
}

.views-view-grid__item {
    border: solid 1px gray;
    border-radius: 10px;
    padding: 20px;
}

.more-link {
    position: relative;
    bottom: 80px;
    float: right;
    margin-right: 5%;
}

.block-views-blockrequests-list-block-1 h2 {
    margin-left: 15%;
}

h2 {
    font-size: 18pt;
    color: black;
    margin-bottom: 30px;
}